<div class="container">
    <p> MY CONTACT</p>
    <div class="row">
        <div class="col s12 m6" ng-repeat="item in cardData">
            <iar-card  card-company="item.company" card-phone="item.phone" card-name="item.name" card-ucn="item.ucn" card-email="item.email" card-cid="item.cid" card-address="item.address"></iar-card>
        </div>
    </div>
    <div class="row">
        <p>ME</p>
        <div class="divider"></div>
        <div class="col s12 m6" ng-repeat="item in walletData">
            <iar-card card-company="item.company" card-phone="item.phone" card-name="item.name" card-address="item.address" card-email="item.email" card-cid="item.cid"></iar-card>
        </div>
    </div>
</div>