<div class="slider">
    <ul class="slides">
        <li>
            <img src="../images/story1.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <h3>Justice</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="../images/womenProtest.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <h3>Justice</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="../images/story1.jpg">
            <!-- random image -->
            <div class="caption right-align">
                <h3>Justice</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="../images/womenProtest.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <h3>Justice</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m4" ng-repeat="item in topStories">
            <div class="card" ui-sref="web.stories.fullStory({'storyId': item.id})">
                <div class="card-image">
                    <img ng-src="{{item.imageUrl}}">
                </div>
                <div>
                    <center>{{item.id}} </center>
                </div>
                <div>
                    <center>
                        <h3>{{item.title}} </h3>
                    </center>
                </div>
                <div class="card-content">
                    {{item.descr}}
                </div>
            </div>
        </div>
    </div>
</div>