<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">India Against Rape</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a ui-sref="web.home">HOME</a>
            </li>
            <li>
                <a >ABOUT</a>
            </li>
            <li>
                <a ui-sref="web.stories">STORIES</a>
            </li>
            <li>
                <a ui-sref="web.contact">CONTACT US</a>
            </li>
        </ul>
    </div>
</nav>

<div ui-view=""></div>