<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text relative-position" style="position:relative">
                <span class="card-title">{{cardName}}</span>
                <p>{{cardCompany}}</p>
                <p>{{cardUcn}}</p>
                <p>{{cardEmail}}</p>
                <p>{{cardCid}}</p>
                <p>{{cardAddress}}</p>
                <p>{{cardPhone}}</p>
                <a class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="card-action">
                <button class="waves-effect waves-light btn" ng-click="openDialpad(cardPhone)">
                    <i class="material-icons left">phone</i>
                </button>
                <button class="waves-effect waves-light btn" ng-click="sendMail(cardEmail)">
                    <i class="material-icons left">email</i>
                </button>
            </div>
        </div>
    </div>
</div>